{
  "New-AzOracleResourceAnchor+[NoContext]+Warmup+$GET+https://management.azure.com/providers/Oracle.Database/operations?api-version=2025-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Oracle.Database/operations?api-version=2025-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "249" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"name\":\"Oracle.Database/Locations/OperationStatuses/read\",\"isDataAction\":false,\"display\":{\"provider\":\"Oracle.Database\",\"resource\":\"Locations/OperationStatuses\",\"operation\":\"read_OperationStatuses\",\"description\":\"read OperationStatuses\"}},{\"name\":\"Oracle.Database/Locations/OperationStatuses/write\",\"isDataAction\":false,\"display\":{\"provider\":\"Oracle.Database\",\"resource\":\"Locations/OperationStatuses\",\"operation\":\"write_OperationStatuses\",\"description\":\"write OperationStatuses\"}},{\"name\":\"Oracle.Database/Operations/read\",\"isDataAction\":false,\"display\":{\"provider\":\"Oracle.Database\",\"resource\":\"Operations\",\"operation\":\"read_Operations\",\"description\":\"read Opera[...]
